<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
    <div class="substrate"></div>
    <div class="container">
        {{> header}}
        {{{ body }}}
        {{> footer}}
    </div>
    <script type="text/javascript" src="/scripts/theme.js"></script>
    <script type="text/javascript" src="/scripts/sidebar.js"></script>
    <script type="text/javascript" src="/scripts/modal-window.js" ></script>
</body>
</html>